.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.addCardForm {
    width: 75%;
    background-color: var(--mochi-gray-light);
    margin: 15px 0;
    padding: 20px;  /* 폼 내부 여백 추가 */
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#addWordbookForm {
    display: flex;
    flex-direction: column;
}

.addCardForm input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    box-shadow: 0 0 0 2px var(--mochi-blue);
    outline: 2px var(--mochi-blue);
    background-color: var(--mochi-gray-light);
    border-color: transparent;
}

#addBtn {
    align-self: center;
    width: 50%;
    background-color: var(--mochi-blue);
    color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body{
    background-color: #c6fffd;
}