/*Color pallete : https://colorhunt.co/palette/ffdcdcfff2ebffe8cdffd6ba*/

/* tags */

body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul li{
    list-style: none;
}
a:link{
    color :black;
    text-decoration: none;
}
a:visited{
    color :black;
    text-decoration: none;
}


/* nav */

nav{
    background-color: #FFDCDC;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar ul{
    padding: 0;
    margin: 0;
}   
.navbar li{
    display: inline-block;
    padding: 10px 20px;
}
.navbar_logo{
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}   
.navbar_btnContainer{
    display: flex;
    align-items: right;
}
.navbar_btn{
    display: inline-block;
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;  
    cursor: pointer;
}
.navbar_btn a{
    color: white;
    text-decoration: none;
}
.navbar_menu a:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

/* card / cardlist */

.fav_cardlist,.recommend_cardlist{
    width: 66%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFE8CD;
}

.cardlist{
    display: grid;
    background-color: #FFF2EB;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap:10px;
    padding: 15px;
}
.card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.list_title{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* studyPage */

.studyHeader{
    background-color: #FFF2EB;
    padding: 20px;
    text-align: center;
}

.searchBox{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.addBtn{
    display: inline-block;
    justify-content: right;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.addBtn a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.searchBox input[type="text"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
}

.searchBox button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.category{
    margin:10px 0;
    height: 20px;
}

.category select{
	float:right;
}

.studyContent{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFE8CD;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.containerHeader{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.containerHeader h1{
    width: 50%;
    display : inline-block;
    text-align: center;
}

.containerHeader .navbar_btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.wordContainer {
    background-color: #FFF2EB;
    width: 66%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;   /* 각 셀의 내용을 가로 중앙 정렬 */
    align-items: center;     /* 각 셀의 내용을 세로 중앙 정렬 */
}

.wordList, .addWordList {
    width: 75%;
    height: 75px;
    margin: 10px auto;
    display: flex;
    justify-content: center; /* 내부 wordCard를 가로 중앙 정렬 */
    align-items: center;     /* 내부 wordCard를 세로 중앙 정렬 */
    padding: 20px;
    background-color: #FFE8CD;
}

.wordCard {
    width: 80%;
    text-align: center;
    background-color: #FFE8CD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordPageContent{
    display: grid;
    width: 80%;
    background-color: #FFE8CD;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 10px;
    padding : 10px;
}
.word,.meaning,.example{
    width: 100%;
    text-align: left;
}

.word span{
    font-size: 1.4em;
    margin: 10px;
    padding: 10px;
}
.meaning span,.example span{
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
}
.wordCard h1 {
    font-size: 1.5em;
}

.wordCard h3 {
    font-size: 1em;
}

.wordCard a{
    font-weight: bolder;
    font-size: 1.4em;
}

.quizList{
    width: 66%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFE8CD;
}

.quizContainer{
    width: 70%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #FFF2EB;
}

.quizCard{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 175px;
    height: 100px;
}

.quizContainer .quizCard{
	cursor:pointer;
}

.wordExplain{
    width: 100%;
    text-align: left;
    padding: 10px;
}

.addCardForm{
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF2EB;
}

.addCardForm input[type="text"]{
    width: 300px;
    padding: 5px;
    margin: 5px;
}

.addCardForm input[type="submit"]{
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
