form{
    width: 70%;
    margin: 0 auto;
}

.quizCardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #FFFFFF;
    margin: 10px;
    border: solid 5px #FFF2EB;
    border-radius: 5px;
}

.quizCardContent{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFE8CD;
    justify-content: center;
    align-content: center;
} 

.quizCardContent span{
    display: block;
    margin: 10px 0;
    padding: 10px;
}   

.quizCardContent input{
    margin: 10px;
}

.quizCardContent button{
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
.quizCategoryBlank{
    display: flex;
}

.quizBlank{
    display: inline-block;
    background-color: #cccccc;
    width: 70px;
    height: 25px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}


.quizFilled{
    display: inline-block;
    width: 80px;
    height: 25px;
    margin: 10px 0;
    padding: 10px;
}

.quizBlankWordPool{
    display: grid;
    height: 140px;
    background-color: #eeeeee;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

