:root {
    --mochi-pink: #FFB6C1;
    --mochi-mint: #3ED6D0;
    --mochi-blue: #32D9FF;
    --mochi-gray-light: #F5F5F5;
    --mochi-gray-dark: #333333;
}

.quizPageContainer{
    margin: 50px 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    background-color: var(--mochi-gray-light);
}


.containerWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.quizContainer{
    width: 70%;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.quizCard{
    border-radius: 5px;
    /* border: solid 3px #000; */
    padding: 20px;
    height: 400px;
    box-shadow: #33333333 0px 1px 3px, #33333333 0px 1px 2px;
}

.quizCard img{
    width: 250px;
}

.quizCard p{
    font-size: 18px;
}

.quizContainer .quizCard{
	cursor:pointer;
}

#quizCard1{
    background-color : var(--mochi-blue);
}

#quizCard2{
    background-color : var(--mochi-mint);
}

#quizCard3{
    background-color : var(--mochi-pink);
}