.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper{
    width: 100%;
    display: block;
}

.wordContainer{
    background-color: var(--mochi-gray-light);
    width: 66%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;   /* 각 셀의 내용을 가로 중앙 정렬 */
    align-items: center;     /* 각 셀의 내용을 세로 중앙 정렬 */
}

.wordList,.addWordList{
    width: 66%;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--mochi-mint);
}

.wordList,.addWordList h2,a{
    text-decoration: none;
    color: var(--mochi-gray-dark);
}

.wordExplain{
    width: 100%;
    text-align: left;
    padding: 10px;
}