

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper{
    width: 100%;
    display: block;
}

.wordContainer{
    background-color: var(--mochi-gray-light);
    width: 90%;
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;   각 셀의 내용을 가로 중앙 정렬 */
    /* align-items: center;     각 셀의 내용을 세로 중앙 정렬 */

    margin: 15px 0;
    border-radius : 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.wordCardList:hover .deleteBtn{
    display: inline-block;
}

.wordCount{
    color: #aaaaaa;
}

.deleteBtn{
    width : 17px;
    height: 17px;
    display: none;
    cursor: pointer; 
}

.wordCardList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: space-between;
    justify-items: center;  /* 기본적으로 모든 항목 중앙 정렬 */
    align-items: center;
    padding-bottom: 7px;
    border-bottom: solid 1px #aaaaaa;
}

/* wordTitle 클래스를 가진 a 태그만 왼쪽 정렬 */
.wordCardList a.wordTitle {
    justify-self: start;  /* grid 아이템 왼쪽 정렬 */
    padding-left: 20px;   /* 왼쪽 여백 추가 */
}

ul{
    width: 100%;
    padding : 0;
    margin: 5px 0;
    list-style: none;
}

li{
    padding: 7px 0;
}

span{
    font-size : 20px;
}
.wordList,.addWordList{
    width: 66%;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--mochi-gray-light);
}

.addWordCard {
    display: flex;
    justify-content: flex-start;  /* 좌측 정렬 */
    padding: 5px;
    padding-left: 10px;
}

.wordList,.addWordList h2,a{
    text-decoration: none;
    color: var(--mochi-gray-dark);
}

.wordExplain{
    width: 100%;
    text-align: left;
    padding: 10px;
}

.addWordCard>a{
    padding: 8px 15px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}