<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">

<!-- 나눔바른고딕 
    font-family: 'NanumBarunGothicUltraLight';
    font-family: 'NanumBarunGothicLight';
    font-family: 'NanumBarunGothic';
    font-family: 'NanumBarunGothicBold';
-->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

<!-- noto sans jpn-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<script th:inline="javascript">
function wordPopup(){
	window.open([[@{/page/word}]], "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
}
</script>
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordCardPage</title>
</head>
<body>
    <!--<div th:replace="~{navigation::navigation}"></div>-->
    <div class="addCardForm">
        <form th:action="@{/page/addWordCard}" method="post">
            <input type="text" id="name" name="name" placeholder="단어장 명을 입력하세요" required><br>
            <input type="text" id="code" name="code" placeholder="공유 코드가 있다면 입력하세요"><br>
            <input type="submit" value="단어장 추가">
        </form>
    </div>
</body>
</html>