<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/addWordCard.css}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<script>

    document.addEventListener('DOMContentLoaded', function() {

        // 폼태그 선택
        const form = document.getElementById('addWordbookForm');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const name = document.getElementById('name').value;
            const description = document.getElementById('description').value;

            const data = {
                "title": name,
                "contents": description
            };

            fetch('/mochilearn/api/wordbook/create', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
            })
            .then(data => {
                console.log('단어장 생성 성공', data);
                alert('단어장이 추가되었습니다.');
                window.location.href = '../page/word';
            })
            .catch(error => {
                console.error('Error', error);
                alert('단어장 추가에 실패했습니다.');
            });
        });
    });
</script>
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordCardPage</title>
</head>
<body>
    <div class="container">
        <div class="addCardForm">
            <form id="addWordbookForm">
                <input type="text" id="name" class="input" name="name" placeholder="단어장 이름" required>
                <input type="text" id="description" class="input" name="description" placeholder="단어장 설명" required><br>
                <input type="submit" id="addBtn" value="단어장 추가">
            </form>
        </div>
    </div>
</body>
</html>