<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/quiz.css}">

<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<script th:inline="javascript">
    /*<![CDATA[*/
        //에러 무시해도 됩니다. 
        var wordPageUrl = [[@{/page/word}]];
        window.onload = function() {
            console.log("Navigation script loaded");
            const wordPageBtn = document.getElementById("wordPageBtn");
            wordPageBtn.onclick = function() {
                wordPage();
            };
        };
        function wordPage() {
            window.open(wordPageUrl, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
        }
        /*]]>*/
</script>

<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz card page</title>
</head>
<body>
    <div th:replace="~{navigation::navigation}"></div>
    <form action="quizCardResult" method="post">
        <div class="quizCardContainer">
            <div class="quizCardContent">
                <span>01/10</span>
                <span>未知の世界に憧れる</span>
                <input type="text" id="answer1" name="answer1" placeholder="요미가나를 입력하세요" required>
            </div>
        </div>
        <div class="quizCardContainer">
            <div class="quizCardContent">
                <span>02/10</span>
                <span>未知の世界に_____</span>
                <input type="radio" id="answer2" name="answer2" value="あこがれる" required>
                <label for="answer2">1.憧れる</label>
                <input type="radio" id="answer2-2" name="answer2" value="あじわう" required>
                <label for="answer2-2">2.味わう</label>
            </div>
        </div>
        <div class="quizCardContainer">
            <div class="quizCardContent">
                <p>03/10</p>
                <div class="quizCategoryBlank">
                    <div class="quizBlank"></div>
                    <div class="quizFilled">はどうかと</div>
                    <div class="quizBlank"></div>
                </div>
                <div class="quizBlankWordPool">
                    <div class="wordPoolItem" draggable="true">塩加減</div>
                    <div class="wordPoolItem" draggable="true">味わう</div>
                    <div class="wordPoolItem" draggable="true">未知</div>
                    <div class="wordPoolItem" draggable="true">憧れる</div>
                    <div class="wordPoolItem" draggable="true">世界</div>
                    <div class="wordPoolItem" draggable="true">未知</div>
                </div>
                <!-- quizCardPage.html, form 태그 안에 추가 -->
                <button type="button" id="resetDragDropBtn">초기화</button>
            </div>
        </div>

        <button type="submit">퀴즈 제출</button>
    </form>

</body>
</html>