<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/css/main.css}">-->
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/quizPage.css}">

<script th:inline="javascript">
    /*<![CDATA[*/
        //에러 무시해도 됩니다. 
        var wordPageUrl = [[@{/page/word}]];
        var quizPageUrl = [[@{/page/quizCardPage}]];
            
    	window.onload = function() {
            console.log("Navigation script loaded");
            const wordPageBtn = document.getElementById("wordPageBtn");
            const quizCard1 = document.getElementById("quizCard1");
            const quizCard2 = document.getElementById("quizCard2");
            const quizCard3 = document.getElementById("quizCard3");
            wordPageBtn.onclick = function() {
                wordPage();
            };
            quizCard1.onclick = function(){
                console.log(this);
            	quizOpen(1);
            };
            quizCard2.onclick = function(){
                console.log(this);
                quizOpen(2);
            };
            quizCard3.onclick = function(){
                console.log(this);
                quizOpen(3);
            };
        };
        function wordPage() {
            window.open(wordPageUrl, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
        };
        function quizOpen(level){
        	location.href = quizPageUrl + "?level=" + level;
        };
        /*]]>*/
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quiz</title>
</head>
<body>
    <div th:replace="~{navigation::navigation}"></div>

    <div class="quizPageContainer">
        <h2>QUIZ</h2>
        <div class="containerWrapper">
            <div class="quizContainer">
                <div class="quizCard" id="quizCard1">
                    <h3>초</h3>
                </div>
                <div class="quizCard" id="quizCard2">
                    <h3>중</h3>
                </div>
                <div class="quizCard" id="quizCard3">
                    <h3>고</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>