<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/css/main.css}">-->
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/quizPage.css}">

<script th:src="@{/js/quiz-level-select.js}"></script>
<script th:src="@{/js/wordbook-popup.js}"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quiz</title>
</head>
<body>
    <div th:replace="~{navigation::navigation}"></div>

    <div class="quizPageContainer">
        <h2>QUIZ</h2>
        <div class="containerWrapper">
            <div class="quizContainer">
                <div class="quizCard" id="quizCard1">
                    <h3>초</h3>
                </div>
                <div class="quizCard" id="quizCard2">
                    <h3>중</h3>
                </div>
                <div class="quizCard" id="quizCard3">
                    <h3>고</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>