<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<!-- 나눔바른고딕 
font-family: 'NanumBarunGothicUltraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold';
-->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

<!-- noto sans jpn-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<script th:inline="javascript">
    /*<![CDATA[*/
        //에러 무시해도 됩니다. 
        var wordPageUrl = [[@{/page/word}]];
        window.onload = function() {
            console.log("Navigation script loaded");
            const wordPageBtn = document.getElementById("wordPageBtn");
            wordPageBtn.onclick = function() {
                wordPage();
            };
        };
        function wordPage() {
            window.open(wordPageUrl, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
        }
        /*]]>*/
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quiz</title>
</head>
<body>
    <div th:replace="~{navigation::navigation}"></div>
    <div class="container">
        <h2>QUIZ</h2>
        <div class="quizContainer">
            <div class="quizCard">
                <h3>초</h3>
            </div>
            <div class="quizCard">
                <h3>중</h3>
            </div>
            <div class="quizCard">
                <h3>고</h3>
            </div>
        </div>
    </div>
</body>
</html>