<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>study</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/studyPage.css}">
	
    <script th:inline="javascript">
		/*<![CDATA[*/
		//에러 무시해도 됩니다.
		var wordPageUrl = [[@{/page/word}]];
		window.onload = function() {
			console.log("Navigation script loaded");
			const wordPageBtn = document.getElementById("wordPageBtn");
			wordPageBtn.onclick = function() {
				wordPage();
			};
		};
		function wordPage() {
			window.open(wordPageUrl, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
		}
		/*]]>*/
	</script>

</head>
<body>

<div th:replace="~{navigation::navigation}"></div>

<div id="searchContainer" >
<div class="search-bar">
    	<input type="text" id="searchInput" placeholder="작성자 또는 제목을 입력하세요">
    	<button id="searchBtn">🔎</button>
    	</div>
	
	<div id="addCard">
		<a th:href="@{/page/write}">
			<button id="addCardBtn">학습카드 추가하기</button>
		</a>
	</div>

    <div class="filter-row">
        <button type="button" id="tagBtn">태그버튼</button>
        <div id="tagModal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h3>태그선택</h3>
                    <div id="tagList">
                        <div class="tagSelect" data-value="드라마">드라마</div>
                        <div class="tagSelect" data-value="애니">애니메이션</div>
                        <div class="tagSelect" data-value="영화">영화</div>
                        <div class="tagSelect" data-value="일상회화">일상회화</div>
                        <div class="tagSelect" data-value="비즈니스">비즈니스</div>
                        <div class="tagSelect" data-value="로맨스">로맨스</div>
                        <div class="tagSelect" data-value="코믹">코믹</div>
                    </div>
                    <button id="applyTagFilter">필터적용</button>
                </div>
            </div>

        <div style="display: flex; align-items: center;">
            <select id="sortBox" name="sortBox">
                <option value="popular">인기순</option>
                <option value="latest">최신순</option>
            </select>
        </div>
    </div>
</div>
    <div id="cardGrid" th:fragment="cards">
        <div th:each="card : ${cards}" 
             class="card">
			<h3 th:text="${card.title}">제목</h3>
			
			<img th:src="${card.url} ?: @{/images/default-thumbnail.png}" alt="썸네일 이미지" />
        </div>
    </div>
    <button id="scrollTopBtn" >위로가기</button>

	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/studyPage.js}"></script>

</body>
</html>