<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<script th:inline="javascript">
function wordPopup(){
	window.open([[@{/page/word}]], "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
}
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>word</title>
</head>
<body>

    <div class="container">
        <div class="wrapper">
            <h1 style="text-align: center;">단어장</h1>
        </div>
        <div class="wordContainer">
            <div class="wordList">
                <div class="wordCard">
                    <a th:href="@{/page/wordCard2}">JLPT N2</a>
                </div>
            </div>

            <div class="wordList">
                <div class="wordCard">
                    <a th:href="@{/page/wordCard1}">JLPT N1</a>
                </div>
            </div>
        
            <div class="addWordList">
                <div class="wordCard">
                    <a th:href="@{/page/addWordCard}">단어장 추가</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>