<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/wordBook.css}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<script th:inline="javascript">
function wordPopup(){
	window.open([[@{/page/word}]], "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=700,height=400");
}
</script>

<script th:src="@{/js/wordPage.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>word</title>
</head>
<body>
    <div class="main-header">
        <nav>
            <div>
                <img th:src="@{/img/logo.png}" alt="MochiLearn Logo" class="logo-image">
            </div>
            <span>단어장</span>
            <div style="visibility: hidden;">
                <img th:src="@{/img/logo.png}" alt="MochiLearn Logo" class="logo-image">
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="wordContainer">
            <!--<div class="wordList">
                <div class="wordCard">
                    <a th:href="@{/page/wordCard2}">JLPT N2</a>
                </div>
            </div>

            <div class="wordList">
                <div class="wordCard">
                    <a th:href="@{/page/wordCard1}">JLPT N1</a>
                </div>
            </div> -->
        
            <!--<div class="addWordList">
                <div class="wordCard">
                    <a th:href="@{/page/addWordCard}">단어장 추가</a>
                </div>
            </div>-->
        </div>
    </div>

</body>
</html>