<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- <link rel="stylesheet" href="css/main.css"> -->
 <link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/joinForm.css}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<!-- jQuery 파일 불러오기 -->
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<!--	<script>-->
<!--		$(document).ready(function() {-->
<!--			$('#loginForm').on('submit', idCheck)-->
<!--		});-->
<!--		-->
<!--		-->
<!--	</script>-->
</head>

<div th:replace="~{navigation::navigation}"></div>

<body>
		<header>
		<h1>[ 로그인 ]</h1>
	</header>
	<section>
		<div class="formContainer">
			<form id="loginForm" th:action="@{/member/login}" method="post">
				<div class="elementContainer">
					<label for="id"></label>
					<input type="text" name="id" id="id" placeholder="아이디를 입력해주세요.">
				</div>
				<div class="elementContainer">
					<label for="password"></label>
					<input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
				</div>
				<div class="elementContainer">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
	</section>
</body>
</html>