<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- <link rel="stylesheet" href="css/main.css"> -->
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/joinForm.css}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<script th:src="@{/js/wordbook-popup.js}"></script>
<script th:src="@{/js/login.js}"></script>

<style>
	img{
		width: 50%;
	}
	.formContainer{
		margin-top: 75px;
	}
	.buttonContainer{
		margin-top: 20px;
	}
	.blank{
		height: 50px;
	}
	.buttonContainer>input{
		width: 100px;
	}
</style>

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<!-- jQuery 파일 불러오기 -->
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<!--	<script>-->
	<!--		$(document).ready(function() {-->
	<!--			$('#loginForm').on('submit', idCheck)-->
	<!--		});-->
	<!--		-->
	<!--		-->
	<!--	</script>-->
</head>

<div th:replace="~{navigation::navigation}"></div>

<body>
<section>
	<div class="formContainer">
		<div class="sideContainer">
			<div class="blank">
			</div>
			<div class="welcomeImg">
				<a><img th:src="@{/img/mochi1.png}"></a>
			</div>
		</div>
		<form id="loginForm" th:action="@{/member/login}" method="post">
			<div class="elementContainer">
				<label for="id"></label>
				<input type="text" name="id" id="id" placeholder="아이디를 입력해주세요.">
			</div>
			<div class="elementContainer">
				<label for="password"></label>
				<input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
			</div>
			<div class="buttonContainer">
				<input type="submit" value="로그인">
				<input type="button" value="회원가입"  th:onclick="|location.href='@{/member/joinForm}'|">

				<!-- 구글로그인 -->
				<script src="https://accounts.google.com/gsi/client" async defer></script>

				<div id="g_id_onload"
					 data-client_id="985885360227-1cbr9mhq7gbga2psfao8a04eknurh5fn.apps.googleusercontent.com"
					 data-ux_mode="popup"
					 data-callback="handleCredentialResponse"> </div>

				<div class="g_id_signin"
					 data-type="standard"
					 data-size="large"
					 data-theme="outline"
					 data-text="sign_in_with"
					 data-shape="rectangular"
					 data-logo_alignment="left">
				</div>


			</div>
		</form>
		<div class="sideContainer">
			<div class="blank">
			</div>
			<div class="welcomeImg">
				<a><img th:src="@{/img/mochi2.png}"></a>
			</div>
		</div>
	</div>
</section>
</body>
</html>