<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- <link rel="stylesheet" href="css/main.css"> -->
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/joinForm.css}">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css" />

<style>
	img{
		width: 50%;
	}
	.formContainer{
		margin-top: 75px;
	}
	.buttonContainer{
		margin-top: 20px;
	}
	.blank{
		height: 50px;
	}
	.buttonContainer>input{
		width: 100px;
	}
</style>
</head>

<div th:replace="~{navigation::navigation}"></div>

<body>
	<section>
		<div class="formContainer">
			<div class="sideContainer">
				<div class="blank">
				</div>
				<div class="welcomeImg">
					<a><img th:src="@{/img/mochi1.png}"></a>
				</div>
			</div>
			<form id="loginForm" th:action="@{/member/login}" method="post">
				<div class="elementContainer">
					<label for="userId"></label>
					<input type="text" name="userId" id="userId" placeholder="아이디를 입력해주세요.">
				</div>
				<div class="elementContainer">
					<label for="password"></label>
					<input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
				</div>
				<div class="buttonContainer">
		            <input type="button" value="가입"  th:onclick="|location.href='@{/member/joinForm}'|">
		            <input type="submit" value="로그인" onclick="validation()">	            
	            </div>
			</form>
			<div class="sideContainer">
				<div class="blank">
				</div>
				<div class="welcomeImg">
					<a><img th:src="@{/img/mochi2.png}"></a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>