<html xml:lang="ko">
<body>

<!-- Footer Section -->
<footer th:fragment="footer" class="main-footer">
    <div class="container main-footer-content">
        <p style="margin-bottom: 0.5rem;">&copy; 2025 MochiLearn. All Rights Reserved.</p>
        <div style="margin-top: 1rem; margin-bottom: 1rem;">
            <a href="#" class="footer-links">개인정보처리방침</a>
            <span style="margin: 0 1rem;">|</span>
            <a href="#" class="footer-links">이용약관</a>
            <span style="margin: 0 1rem;">|</span>
            <a href="#" class="footer-links">고객센터</a>
        </div>
    </div>
</footer>

</body>