<!DOCTYPE html>
<html lang="ko" xmlns:th="thymeleaf.org">

<!-- css -->
<link rel="stylesheet" href="css/main.css">

<!-- 나눔바른고딕 
    font-family: 'NanumBarunGothicUltraLight';
    font-family: 'NanumBarunGothicLight';
    font-family: 'NanumBarunGothic';
    font-family: 'NanumBarunGothicBold';
-->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

<!-- noto sans jpn-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>もちLearn</title>
</head>

<div th:replace="~{navigation::navigation}"></div>

<!-- cardlist 내부의 객체는 동적으로 그려줄것
    현 시점에는 그냥 레이아웃 용으로 하드코딩 했음
-->
<body>
    <div class="fav_cardlist">
        <div class="list_title">
            <h2>인기</h2>
        </div>
        <div class="cardlist">
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="recommend_cardlist">
        <div class="list_title">
            <h2>추천</h2>
        </div>
        
        <div class="cardlist">
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/ddd.jpg" alt="Video Thumbnail">
                </div>
                <div class="card_info">
                    <h3>비디오 제목</h3>
                    <p>비디오 설명이 여기에 들어갑니다. 이 비디오는 일본어 학습에 도움이 됩니다.</p>
                    <button>시청하기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>