<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="navigation" class="main-header">
    <nav class="container">
        <!-- Logo -->
        <a th:href="@{/}" class="logo">
            <img th:src="@{/img/logo.png}" alt="MochiLearn Logo" class="logo-image">
        </a>
        <!-- Navigation links -->
        <div class="nav-links">
            <a th:href="@{/page/study}" class="nav-link">학습하기</a>
            <a th:href="@{/page/quiz}" class="nav-link">퀴즈풀기</a>
            <a class="nav-link" id="wordPageBtn">단어장</a>

            <a sec:authorize="isAuthenticated()" th:href="@{/page/mypage}" class="nav-link">마이페이지</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/member/loginForm}">로그인</a>
            <form th:action="@{/member/logout}" method="POST" sec:authorize="isAuthenticated()">
                <a th:href="@{/member/logout}" class="nav-link">로그아웃</a>
            </form>
<!--            <a th:href="@{/member/loginForm}" class="nav-link">로그인</a>-->
            <a th:href="@{/page/best}" class="cta-btn">시작하기</a>
        </div>
        <!-- Mobile menu button -->
        <button class="mobile-menu-btn focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
        </button>

        <!--<div class="navbar_logo">
            <a th:href="@{/}">
                もちLearn
                <img src="">
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a th:href="@{/page/study}">학습</a></li>
            <li><a th:href="@{/page/quiz}">퀴즈</a></li>
            <li><a th:href="@{/page/mypage}">마이페이지</a></li>
            <li><a th:href="@{/page/test/home}">테스트</a></li>

        </ul>
        <div class="navbar_btnContainer">
            &lt;!&ndash; 단어장 페이지는 Modal로 이동 &ndash;&gt;
            <div class="navbar_btn" id="wordPageBtn">
                <a>단어장</a>
            </div>
            <div class="navbar_btn" id="loginBtn">
                <a th:href="@{/page/login}">로그인</a>
                <button style="display:none">로그아웃</button>
            </div>
        </div>-->

    </nav>
</header>
</body>
</html>