<html xmlns:th="http://thymeleaf.org">
<body>
<header th:fragment="navigation">
    <nav class="navbar">
        <div class="navbar_logo">
            <a th:href="@{/}">
                動画べん
                <img src="">
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a th:href="@{page/study}">학습</a></li>
            <li><a th:href="@{page/quiz}">퀴즈</a></li>
            <li><a th:href="@{page/word}">단어장</a></li>
            <li><a th:href="@{page/mypage}">마이페이지</a></li>
        </ul>
        <div class="navbar_btn">
            <a href="#">로그인</a>
            <button style="display:none">로그아웃</button>
        </div>
    </nav>
</header>
</body>
</html>